<div class="d-flex justify-content-center">
  <ul class="post-list">
    {{#each posts}}
      <li class="list-group-item">
        <form class="vote-up" data-id="{{this._id}}">
          <button type="submit">Vote Up</button>
        </form>
        |
        <form class="vote-down" data-id="{{this._id}}">
          <button type="submit">Vote Down</button>
        </form>
        <div class="lead">
          <a href="/posts/{{this._id}}">{{this.title}}</a>
        </div>
        <a href="{{this.url}}" target="_blank">{{this.url}}</a>
        <div class="d-flex justify-content-between">
          <div class="text-left">
            {{this.author.username}}
          </div>
          <div class="text-right">
            <a href="/r/{{this.subreddit}}">{{this.subreddit}}</a>
          </div>
        </div>
      </li>
    {{/each}}
  </ul>
</div>
